.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo{
    width: 100px;
    margin: 0 20px;
    margin-top: 18px;
    object-fit: contain;
}

.header-search{
    display: flex;
    flex:1;

}



.header-searchIcon{
    
    padding: 5px;
    height: 22px !important;
    margin-left: 1px;
    
    justify-content: center;
    background-color: #cd904d;
}

.header-nav{
    display: flex;
    justify-content: space-evenly;
}

.header-option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header-link{
    color: white;
    text-decoration: none;
}

.header-optionOne{
    font-size: 10px;
}

.header-optionTwo{
    font-size: 13px;
    font-weight: 800;
}

.header-cart{
    display: flex;
    align-items: center;
    
}


.header-basketCount{
    margin-left: 10px;
    margin-right: 10px;
}